<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="SyncStart all you favourite website in one place. Portable on all devices and browsers"
    />
    <link rel="apple-touch-icon" href="logo192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href='<%= assets["client.css"] %>' />
    <title>SyncStart</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="backload"></div>
    <div id="loading"></div>
    <div id="backdrop"></div>
    <div id="modal"></div>
    <div id="brand"></div>
    <div id="sync"></div>
    <div id="credits"></div>
    <div id="root"><%- component %></div>
    <script defer="defer" src='<%= assets["client.js"] %>'></script>
  </body>
</html>
